:root {
	--main_blue: rgb(77, 118, 255);
}
#logo {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	
}
.logIcon {
	padding: 0px 0px 5px 5px;
}

.top-bar {
	background: var(--main_blue);
	color: white;
	text-shadow: 2px 1px 1px rgba(43, 69, 153, 0.4);
}
.top-bar li {
	background: var(--main_blue);
	color: white;
}
.top-bar, .top-bar ul {
    background-color: var(--main_blue);
}

.top-bar a {
	color: white;
}
/* overrites foundation */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {

	border-top-color: #ffffff;
}
.login {
	margin-top: 100px;
}
.search-bar {
	margin-top: 50px;
}
.searchTerm {
	float: left;
	height: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: -12px;
}
.searchButton {
	position: absolute;
	background: var(--main_blue);
	width: 50px;
	height: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
}
.searchButton:hover {
	cursor: pointer;
	background: #33adff;
}
.searchButton:active {
	background: #1779BA;
}
.name {
	color: #1779BA;
	font-weight: bold;
}
#title {
	color: var(--main_blue);
	font-family: 'Roboto', sans-serif;
	
}
#subtitle {
	color: grey;
}

#searchArea {
	
}

















