.top-bar {
	background: ;
}
.top-bar li {
	background: ;
}
.login {
	margin-top: 100px;
}
.search-bar {
	margin-top: 50px;
}
.searchTerm {
	float: left;
	height: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: -12px;
}
.searchButton {
	position: absolute;
	background: #1779BA;
	width: 50px;
	height: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
}
.searchButton:hover {
	cursor: pointer;
	background: #14659b;
}
.searchButton:active {
	background: #1779BA;
}
.name {
	color: #1779BA;
	font-weight: bold;
}
#title {
	color: #1779BA;
}
#searchArea {
	background: ;
}

















